<!--MarkDeep Diagrams-->
{% if page.markdeep %}
<script src="{{ '/assets/js/markdeep/markdeep_diagram.js' | absolute_url }}"></script>
<link rel="stylesheet" href="{{'/assets/css/markdeep/markdeep_diagram.css' | absolute_url }}">
{% endif %}

{% if page.facets %}
<link rel="import" href="{{ '/assets/html/facets/facets.html' | absolute_url }}">
<script src="{{ '/assets/js/facets/facets.js' | absolute_url }}"></script>
<link rel="stylesheet" href="{{ '/assets/css/facets/facets.css' | absolute_url }}">
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.24/webcomponents-lite.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endif %}

<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
