<!--MarkDeep Diagrams-->
{% if page.markdeep %}
<script src="{{ '/assets/js/markdeep/markdeep_diagram.js' | absolute_url }}"></script>
<link rel="stylesheet" href="{{'/assets/css/markdeep/markdeep_diagram.css' | absolute_url }}">
{% endif %}

{% if page.facets %}
<link rel="import" href="{{ '/assets/html/facets/facets.html' | absolute_url }}">
<script src="{{ '/assets/js/facets/facets.js' | absolute_url }}"></script>
<link rel="stylesheet" href="{{ '/assets/css/facets/facets.css' | absolute_url }}">
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.24/webcomponents-lite.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endif %}

{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
